#include "commonsetup.template"


techniqueSet( "extracam" );

textureTable
{
	"colorMap" = map( "tile both", "nomip bilinear", "texture_assets\editor\extracam.tga", 0 ) "DXT1" : "colorMap";
}

refImage( "texture_assets\editor\extracam.tga" );
